---
import GithubIcon from "./icons/GithubIcon.astro"
import Link from "./Link.astro"
import LinkIcon from "./icons/LinkIcon.astro"

interface Tag {
    name: string
    class: string
    icon: any
}

interface Props {
    project: {
        title: string
        description: string
        link?: string
        image: string
        github: string
        tags: Tag[]
    }
    code: string
    preview: string
}

const { project , code, preview } = Astro.props
---

<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img 
            alt=`Foto de proyecto ${project.title}`
            class="object-cover object-top w-72 h-72 transition duration-500 md:scale-110 md:group-hover:scale-105"
            src={project.image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-100">
        {project.title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-wrap mb-2 gap-2">
            {project.tags.map((tag) => (
              <li>
                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-400">{project.description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
            {project.github && (
              <Link href={project.github}>
                <GithubIcon class="size-6" />
                {code}
              </Link>
            )}
            {project.link && (
              <Link href={project.link}>
                <LinkIcon class="size-6" />
                {preview}
              </Link>
            )}
          </footer>
      </div>
      
    </div>
  </article>